{{>layout/header}}

    <h1>스프링 부트로 시작하는 웹 서비스 Ver.2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

<!--            머스테치에는 if문이 없다 그래서 항상 최종값을 넘겨줘야함-->
                {{#userName}}
                    Logged in as : <span id="user">{{userName}}</span>

<!--                스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL-->
                    <a href="logout" class="btn btn-info active" role="button">Logout</a>

                {{/userName}}
                {{^userName}} <!-- 머스테치에서 해당 값이 존재하지 않으면 ^를 사용 > 여기서는 없으면 버튼을 노출시킴 -->
<!--                    스프링 시큐리티에서 기본적으로 제공하는 로그인 URL-->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<!--                네이버 로그인 URL은 application-oauth.properties에 등록한 redirect-uri값에 맞춰 자동 등록된다. -->
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <!--목록 출력 영역-->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}} <!-- posts라는 List를 순회한다.(Java의 for문) -->
                <tr>
                    <td>{{id}}</td> <!-- List에서 뽑아낸 객체의 필드를 사용합니다. -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!-- title 클릭시 a태그 링크로 이동 -->
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}